.opcion_menu {
    width: 100px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.opcion_menu:focus {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}